build/
.gradle/
libVulpes.txt
output/
/asm
/blueprints
/build
/config
/gradle
/logs
/mods
/resourcepacks
/saves
screenshots
/gradle
/asm
/blueprints
*.xcf
/libs
/models
/crash-reports
changelog.html
run/
.idea/
out/
.run/