# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
output
.gradle

# other
eclipse
run
libVulpes.txt
*.xcf
libs
models

# minecraft
asm
blueprints
config
logs
mods
resourcepacks
saves
screenshots
crash-reports
changelog.html
